
@{
    ViewBag.Title = "CKEditor feature showcase";
}
<h2>CKEditor features</h2>

<p>This page lists the multiple features of CKEditor</p>

<h3>Full Initialization</h3>

<textarea id="ckeditor">@Html.Raw("<p>Hi</p> <p>This is plenty fun</p>")</textarea>

<h3>Selective Configuration</h3>

<textarea id="ckeditor2">@Html.Raw("<p>Hi</p> <p>This is plenty fun</p>")</textarea>

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script>
        if ($("#ckeditor").length > 0) {
            CKEDITOR.replace("ckeditor", {
                height: "450px"
            });
        }

        if ($("#ckeditor2").length > 0) {
            CKEDITOR.replace("ckeditor2", {
                height: "450px",
                customConfig: '@Url.Content("~/Scripts/ckeditor/custom-config.js")'
            });
        }
    </script>
}