@{
    ViewBag.Title = "Library Index";
}

<p>Below are the list of libraries which I am use for Production projects.</p>

<ul>
    <li>
        <a href="@Url.Action("CKEditor", "Library")">CKEditor</a>
    </li>
</ul>