@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Laboratory</h2>
        <p>
            This is a list of client-side and server-side technologies that I am exploring.
        </p>

        <h3>Technologies:</h3>
        <ul>
            <li><a href="@Url.Action("Index", "MassTransit")">Broker Messaging MassTransit and RabbitMQ</a></li>
        </ul>
    </div>
</div>s