@{
    ViewBag.Title = "Ronny's collection of examples to test the limits of ReactJS";
}

<h1>
    Ronny's React Labs. The content below this heading are all rendered via React components.
</h1>

<div id="content">

</div>


@section scripts {
    <script type="text/javascript" src="@Url.Content("~/dist/js/react-example.js")"></script>
}
