@{
    ViewBag.Title = "React Ecosystem Check";
}

<h2>@ViewBag.Title</h2>

<div id="placeholder"></div>

@section styles {
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
}

@section scripts {    
    <script src="~/dist/js/react-prototype.js"></script>
}